<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/results" method="GET">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="from">From</label>
    <input type="date" id="from" name="from">
    <label for="to">From</label>
    <input type="date" id="to" name="to">
    <input type="submit" name="" id="">
  </form>
</body>
</html>