<!DOCTYPE html>
<html>
<head>
	<title>Data Entry</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"style="padding-left: 4em">
	  	<a class="navbar-brand" href="#">APS</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
	     	<li class="nav-item active">
	        	<a class="nav-link" href="/user">Home <span class="sr-only">(current)</span></a>
					</li>
	      	<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" href="/deposit">Deposit</a>
          			<a class="dropdown-item" href="/withdraw">Withdraw</a>
								<a class="dropdown-item" href="#">Transfer</a>
								<a class="dropdown-item" href="/addClient">Add Account</a>
								<a class="dropdown-item" href="/clientInfo">Client Information</a>
								<a class="dropdown-item" href="/clientStatement">Client Statememt</a>
        		</div>
      		</li>
	    </ul>
	    
	    <ul class="navbar-nav my-8 my-sm-0" style="padding-right: 4em">
	    <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=currentUser%></a>
        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          		<a class="dropdown-item" href="/updateprofile">Update Profile</a>
          		<div class="dropdown-divider"></div>
          		<a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> SignOut</a>
        	</div>
      	</li>
      	</ul>
	 	</div>
	</nav>
	
	<!-- <div class="container" id="#Deposit">
			<form action="/Deposit">
				<label for="AccountName">asda</label>
			</form>
	</div> -->
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/95775480bd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</script>
</body>
</html>